---
import Icon from './ui/Icon.astro';
import type { Project } from '../types/projects';
import ProjectTypeBadge from './ui/ProyectTypeBadge.astro';

interface Props {
  project: Project;
}

const { project } = Astro.props;
const { order, type, title, description, imageSrc, imageAlt } = project;

const isService: boolean = type === 'servicio';
---

<article
  data-index={order}
  data-project={JSON.stringify(project)}
  aria-label={`Proyecto: ${title} - ${type}`}
  class="group relative flex w-[80%] flex-col overflow-hidden rounded-2xl border border-tertiary p-[2px] shadow-sm shadow-tertiary/80 duration-300 hover:scale-[1.01] hover:shadow-lg sm:w-[380px]"
>
  <div class="absolute top-2 right-2 z-20 duration-300 group-hover:-top-8 group-hover:-right-10">
    <ProjectTypeBadge type={type} />
  </div>

  <img
    src={imageSrc}
    alt={imageAlt}
    loading="lazy"
    class="h-full w-full rounded-xl object-cover duration-300 group-hover:scale-110"
  />

  <footer class="absolute bottom-0 left-0 z-20 h-3/6 w-full p-2 duration-300 group-hover:h-1/4">
    <header
      class="relative h-full w-full space-y-2 overflow-hidden rounded-xl bg-gradient-primary/70 p-2 backdrop-blur-xl"
    >
      <h3
        class={`${isService ? 'text-primary' : 'text-tertiary'} text-[16px] font-semibold capitalize`}
      >
        {title}
      </h3>
      <p class="line-clamp-2 text-sm font-normal text-secondary duration-300 group-hover:invisible">
        {description}
      </p>

      <button
        data-project-button={order}
        class="project-modal-trigger absolute top-1 right-1 cursor-pointer duration-300 hover:scale-110"
        aria-label={`Ver más detalles de ${title}`}
        type="button"
      >
        <Icon
          name="open-vector"
          class={`${isService ? 'text-primary' : 'text-tertiary'} h-auto w-8 text-primary`}
          aria-hidden="true"
        />
      </button>
    </header>
  </footer>
</article>
