---
import Icon from './ui/Icon.astro';

interface Props {
  index: number;
  type: string;
  title: string;
  description: string;
  imageSrc: string;
  imageAlt: string;
}

const { index, type, title, description, imageSrc, imageAlt } = Astro.props;
---

<article
  data-index={index}
  aria-label={`Proyecto: ${title} - ${type}`}
  class="group relative flex w-[80%] flex-col overflow-hidden rounded-2xl border border-tertiary p-[2px] shadow-sm shadow-tertiary/80 duration-300 hover:scale-[1.01] hover:shadow-lg sm:w-[380px]"
>
  <div class="absolute top-2 right-2 z-20">
    <span class="text-normal rounded-xl bg-primary px-3 py-1 font-medium text-secondary capitalize">
      {type}
    </span>
  </div>

  <img
    src={imageSrc}
    alt={imageAlt}
    loading="lazy"
    class="h-full w-full rounded-xl object-cover duration-300 group-hover:scale-110"
  />

  <footer class="absolute bottom-0 left-0 z-20 h-3/6 w-full p-2 duration-300 group-hover:h-1/4">
    <header
      class="relative h-full w-full space-y-2 overflow-hidden rounded-xl bg-gradient-secondary/60 p-2 backdrop-blur-sm"
    >
      <h3 class="text-[16px] font-semibold text-tertiary capitalize">{title}</h3>
      <p class="line-clamp-2 text-sm font-normal text-secondary duration-300 group-hover:invisible">
        {description}
      </p>

      <button
        id={`button-${index}`}
        class="absolute top-1 right-1 cursor-pointer duration-300 hover:scale-110"
      >
        <Icon name="open" class="h-auto w-8" aria-hidden="true" />
      </button>
    </header>
  </footer>
</article>
