---
import type { IconName } from 'consts/icons';
import Icon from './ui/Icon.astro';

interface Props {
  iconName: IconName;
  title: string;
  description: string;
  slug: string;
  index: number;
}

const { title, description, iconName, slug, index } = Astro.props;
---

<article
  class="border-primary service-card shadow-primary/80 group relative flex w-[80%] flex-col overflow-hidden rounded-2xl border p-5 shadow-sm duration-300 hover:scale-[1.01] hover:shadow-lg sm:w-[380px] md:p-7"
  data-index={index}
>
  <div>
    <Icon
      name={iconName}
      aria-hidden="true"
      class="sm:blur-xs absolute right-0 top-0 h-auto w-28 rotate-45 blur-md duration-300 sm:-translate-y-24 sm:translate-x-28 sm:group-hover:translate-x-2 sm:group-hover:translate-y-0"
    />
  </div>

  <header class="flex flex-col items-start gap-2">
    <div
      class="bg-tertiary/10 group-hover:bg-tertiary/40 relative z-10 hidden rounded-xl p-2 duration-300 sm:block"
    >
      <Icon name={iconName} class="h-auto w-12" aria-hidden="true" />
    </div>

    <h3 class="text-primary md:text-subtitle-size text-[16px] font-semibold">
      {title}
    </h3>
  </header>

  <section class="z-10 pb-8 pt-4">
    <p class="text-secondary line-clamp-3 text-sm font-medium duration-300 md:text-base">
      {description}
    </p>
  </section>

  <footer>
    <a
      href={`/services/${slug}`}
      aria-label=`Ver detalles sobre ${title}`
      class="text-tertiary/80 group-hover:text-tertiary focus:ring-primary group inline-block origin-left cursor-pointer rounded-xl font-medium duration-300 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-offset-2"
    >
      Saber más →
    </a>
  </footer>
</article>
