---
import type { IconName } from 'consts/icons';
import Icon from './ui/Icon.astro';

interface Props {
  iconName: IconName;
  title: string;
  description: string;
  slug: string;
  index: number;
}

const { title, description, iconName, slug, index } = Astro.props;
---

<article
  class="group relative flex w-[80%] flex-col overflow-hidden rounded-2xl border border-primary p-5 shadow-sm shadow-primary/80 duration-300 hover:scale-[1.01] hover:shadow-lg sm:w-[380px] md:p-7"
  data-index={index}
>
  <div>
    <Icon
      name={iconName}
      aria-hidden="true"
      class="absolute top-0 right-0 h-auto w-28 rotate-45 blur-md duration-300 sm:translate-x-28 sm:-translate-y-24 sm:blur-xs sm:group-hover:translate-x-2 sm:group-hover:translate-y-0"
    />
  </div>

  <header class="flex flex-col items-start gap-2">
    <div
      class="relative z-10 hidden rounded-xl bg-tertiary/10 p-2 duration-300 group-hover:bg-tertiary/40 sm:block"
    >
      <Icon name={iconName} class="h-auto w-12" aria-hidden="true" />
    </div>

    <h3 class="text-[16px] font-semibold text-primary md:text-subtitle-size">
      {title}
    </h3>
  </header>

  <section class="z-10 pt-4 pb-8">
    <p class="line-clamp-3 text-sm font-medium text-secondary duration-300 md:text-base">
      {description}
    </p>
  </section>

  <footer>
    <a
      href={`/services/${slug}`}
      aria-label=`Ver detalles sobre ${title}`
      class="group inline-block origin-left cursor-pointer rounded-xl font-medium text-tertiary/80 duration-300 group-hover:text-tertiary hover:scale-105 focus:px-2 focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:outline-none"
    >
      Saber más →
    </a>
  </footer>
</article>
