---
import { subTitleProject, titleProject } from 'consts/pagesTitle';
import { PROJECT } from 'consts/project';
---

<section class="relative flex w-full flex-col items-center justify-center py-48">
  <div class="relative flex max-w-[1200px] flex-col items-center justify-center">
    <header class="relative flex max-w-[50rem] flex-col items-center justify-center">
      <h2 class="text-5xl font-bold">{titleProject}</h2>
      <h3 class="text-secondary-size text-primary py-5 text-center font-medium">
        {subTitleProject}
      </h3>
    </header>

    <main class="relative grid w-full grid-cols-3 place-items-center gap-8 pb-32 pt-20">
      {
        PROJECT.map(({ title, type, image, technology }) => (
        <article class="gap-8 p-6 border-tertiary relative flex h-[290px] w-[380px] flex-col justify-end rounded-2xl border shadow-sm hover:shadow-lg shadow-tertiary/80 transition-shadow duration-300">
            <!-- <img src={image} alt="" /> -->

            <button class="absolute top-6 right-6">
              ver
            </button>

            <header class="flex flex-col items-start justify-start">
              <p>{type}</p>
              <h4>{title}</h4>
            </header>

            <footer>
              {technology?.map(({ icon, label }) => (
                <a href="#">{label}</a>
              ))}
            </footer>
          </article>
        ))
      }
    </main>
  </div>
</section>

