---
import ServiceCard from 'components/ServiceCard.astro';
import { subTitleService, titleService } from 'consts/pagesTitle';
import { SERVICES_STATIC } from 'consts/services';
import SeeMoreButton from 'components/ui/SeeMoreButton.astro';
---

<section
  id="services"
  class="relative flex w-full max-w-[1200px] -scroll-mt-10 flex-col items-center justify-center gap-20 px-2 py-40 md:scroll-mt-6"
>
  <header class="flex w-[90%] flex-col items-center justify-center gap-4 text-center md:w-[100%]">
    <h2 class="text-2xl font-bold text-secondary uppercase duration-300 sm:text-4xl md:text-5xl">
      {titleService}
    </h2>
    <h3 class="text-sm font-medium text-primary sm:text-lg md:text-3xl">{subTitleService}</h3>
  </header>

  <div
    id="services-container"
    class="relative flex w-full flex-col flex-wrap items-center justify-center gap-4 md:flex-row"
  >
    {
      SERVICES_STATIC.map((service) => (
        <ServiceCard
          index={service.order}
          title={service.title}
          description={service.description}
          iconName={service.iconName}
          slug={service.slug}
        />
      ))
    }
  </div>

  <SeeMoreButton section="services" mobileLimit={2} tabletLimit={4} />
</section>

<script>
  import { setupCardVisibility } from 'lib/generic-card-visibility-manager';

  document.addEventListener('astro:page-load', () => {
    setupCardVisibility({
      sectionName: 'services',
      mobileLimit: 2,
      tabletLimit: 4,
    });
  });
</script>
