---
import ServiceCard from 'components/ServiceCard.astro';
import { subTitleService, titleSerive } from 'consts/pagesTitle';

import { SERVICE } from 'consts/service';
import type { Service } from 'types/service';
---

<section id="services" class="relative flex scroll-mt-36 flex-col items-center justify-center">
  <div class="relative flex w-full max-w-[1200px] flex-col items-center justify-center">
    <header class="relative flex w-full flex-col items-center justify-center">
      <h2 class="text-3xl sm:text-4xl font-bold transition-all duration-300 md:text-5xl">
        {titleSerive}
      </h2>

      <h3
        class="md:text-secondary-size text-primary max-w-[54rem] px-10 py-5 text-center text-[14px] ms:text-[16px] font-medium transition-all duration-300 md:px-6"
      >
        {subTitleService}
      </h3>
    </header>

    <section
      class="md: relative flex w-full flex-col items-center justify-center gap-6 pb-32 pt-10 md:flex-row md:flex-wrap md:pt-20"
    >
      {
        SERVICE.map(({ title, description, icon }: Service) => (
          <ServiceCard title={title} description={description} icon={icon} />
        ))
      }
    </section>
  </div>
</section>
