---
import ServiceCard from 'components/ServiceCard.astro';
import { subTitleService, titleSerive } from 'consts/pagesTitle';
import { serviceIcons } from 'consts/serviceIcons';
import { getCollection } from 'astro:content';

const SERVICES = (await getCollection('services')).sort(
  (a, b) => (a.data.order ?? 0) - (b.data.order ?? 0),
);
---

<section
  id="services"
  class="relative flex w-full max-w-[1200px] scroll-mt-28 flex-col items-center justify-center gap-20 px-2 pb-40 md:scroll-mt-36"
>
  <header class="flex w-[90%] flex-col items-center justify-center gap-4 text-center md:w-[100%]">
    <h2 class="text-secondary text-2xl font-bold uppercase duration-300 sm:text-4xl md:text-5xl">
      {titleSerive}
    </h2>
    <h3 class="text-primary text-sm font-medium sm:text-lg md:text-3xl">{subTitleService}</h3>
  </header>

  <div
    class="relative flex w-full flex-col flex-wrap items-center justify-center gap-4 md:flex-row"
  >
    {
      SERVICES.map((service) => {
        const { slug, data } = service;
        const { title, description } = data;
        const icon = serviceIcons[slug];

        return <ServiceCard title={title} description={description} icon={icon} slug={slug} />;
      })
    }
  </div>
</section>
